/* general styling */
#page-title {
    font-family: 'Ubuntu', sans-serif;
}

.page-content {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    margin: 1rem 2rem;
    width: 95%;
}

.page-content p {
    margin-top: 1rem;
    margin-bottom: 0;
}

#header2 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 200;
    font-size: 1.5rem;
}

/* floating reset button */
#reset {
    top: 20px;
    right: 80px;
    float: right;
    position: absolute;
    z-index: 2;
}

#reset input[type=submit] {
    font-size: 1rem;
}

/* floating menu */
#menu-btn {
    top: 36px;
    right: 145px;
    float: right;
    position: absolute;
    z-index: 2;
    font-size: 1rem;
}


#menu-list {
    top: 70px;
    right: 10px;
    float: right;
    position: absolute;
    z-index: 2;
    background-color: white;
    border: 1px solid #717e8b;
}

#menu-item {
    list-style: none;
    padding-left: 0;
}


#menu-item li a {
    display: block;
    padding: 0px 5px;
    text-decoration: none;
    color: red;
    background-color: white;
    line-height: 1.5;
    margin-top: 0.5rem;
  }

#menu-item input[type=submit] {
    border: none;
    text-decoration: none;
    background-color: white;
}

#menu-item form {
    margin-top: 0.5rem;
}

/* message alert */
.note {
    font-size: 0.8rem;
    font-style: italic;
    color: red;
}

.success {
    color: green;
}

.failure {
    color: red;
}

/* general form */
form {
    margin-top: 1rem;
}

input[type=submit] {
    font-size: 1rem;
}

/* upload form */
#uploadfile input[type=submit] {
    font-size: 1rem;
}

#uploadfile input[type=file]::-webkit-file-upload-button {
    line-height: 1.5;
    border-radius: 0.2rem;
    padding: 0.25rem 0.5rem;
    color: white;
    border: 1px solid #6c757d;
    background: #6c757d;
}


/* table styling */
.table-div {
    overflow-x: auto;
}

.table-style {
    border-collapse: collapse;
    border: 1px solid silver;
    text-align: center;
    font-size: 0.875rem;
}

.table-style thead {
    background-color: #d8d8d8;
}

.table-style thead th {
    text-align: center;
    padding: 5px;
}

.table-style tbody td {
    padding: 2px;
}

.table-style tbody th {
    padding: 5px;
}

.table-style tr:hover {
    background-color: #ececec;
}

.table-style td:hover {
    background-color: #e2e2e2;
}

.na_row {
    color: red;
  }
 

.table-style2 {
    font-size: 0.875rem;
}

.table-style2 tbody td {
    padding: 0px 10px;
}

.table3-div {
    max-height: 600px;
    overflow-y: auto;
}

.table-style3 {
    border-collapse: collapse;
    border: 1px solid silver;
    font-size: 0.875rem;
}

.table-style3 thead th {
    padding: 2px 10px;
}

.table-style3 tbody td {
    padding: 2px 10px;
}

#transform-table {
    text-align: left;
}

/* inline navigation */
#inline-form input[type=submit] {
    border: none;
    text-decoration: underline;
    background-color: transparent;
    padding: 1px 0px;
    color: green;
}

/* unstyle-listing */
.unstyle-list {
    list-style: none;
    padding-left: 0;
}

/* replace nan form */
#replace-nan p {
    margin-top: 0;
}

/* delete nan form */
.delete-nan {
    display: inline-block
}

/* correlation plot */
#corrplot-form {
    margin-top: 0;
}

#corrplot-form input[type=submit] {
    border: none;
    text-decoration: underline;
    background-color: transparent;
    padding: 1px 0px;
    color: green;
}

/* rename label form */
#rename-label {
    border: 0
}
