<!DOCTYPE html>
<html lang="en">

<head>
    <title>CS50 Project</title>
    <link rel="stylesheet" href="/static/style.css" />
    <script src="../static/jquery-3.6.0.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>
    <!-- Page content -->
    <div>
        <h1>Summary of Categorical Variables</h1>
        <p>Table of descriptive statistics to understand the frequency of value in each variable.</p>
        <!-- navigation -->
        <div>
            <a href="#">Categorical Variables</a>
            <a href="/numeric">Numeric Variables</a>
        </div>
        <!-- description for categorical variables -->
        <div>
            {% if nvar > 0 %}
            <table>
                {% for table in df %}
                {{ table|safe }}
                {% endfor %}
            </table>
            {% else %}
            <p>There is no numeric variable in the dataset.</p>
            {% endif %}
        </div>
        <!-- select categorical variables to be excluded -->
        {% if nvar > 1 %}
        <div>
            <form method="POST" action="/categorical">
                <div>
                    <label for="categoricalvar">Remove categorical variable:</label>
                    <select name="remove-categoricalvar" id="categoricalvar">
                        <option value="none" selected disabled hidden>Select</option>
                        {% for col in columns %}
                        <option value={{col}}>{{col}}</option>
                        {% endfor %}
                    </select>
                    <input type="submit" value="Remove">
                </div>
            </form>
        </div>
        {% endif %}
        <!-- reset button add back all categorical variables -->
        {% if nvar > 0 %}
        <div>
            <form method="POST" action="/categorical">
                <input name="reset-categoricalvar" type="submit" value="Reset Exclusions">
            </form>
        </div>
        {% endif %}
        <!-- go to univariate visualisations -->
        <div>
            <form method="GET" action="/selectvariable">
                <p>Once you have selected all the interested variables, let's start building univariate visualisations!
                </p>
                <input type="submit" value="Go">
            </form>
        </div>
        <div>
            <!-- back button to change datatype -->
            <form method="POST" action="/datatype">
                <input type="hidden" name="back" value="true">
                <input type="submit" value="Back to Data Structure">
            </form>
            <!-- reset button -->
            <form method="GET" action="/">
                <input type="submit" value="Reset">
            </form>
        </div>
    </div>
</body>

</html>