{% extends "BASE.html" %}

{% block content %}
<div>
    <!-- Introduction -->
    <h1 id="page-title">Data Structure</h1>
    <p>The data contains {{shape[1]}} columns and {{shape[0]}} observations. Below is a snippet of the first 5 rows in
        the data:</p>
    <!-- First 5 rows -->
    <div class="table-div">
        <table>
            {% for table in df %}
            {{ table|safe }}
            {% endfor %}
        </table>
    </div>
    <br>
    <!-- Set variable type -->
    <div>
        <h2 id="header2">Variable Type</h2>
        <p>There are two main types of data: categorical and numerical. Categorical data can be put into groups using
            labels. Examples are gender, race and education status. Numerical data are used to measure age, height,
            weight, etc. Some data such as rating score can be treated as either categorical or numerical, depending on
            context.
        </p>
        <p>The summary statistics and visualization methods used are different for each variable type.
            <span>
                {% if submit == "no" %}
                Please select how each variable should be treated:
                {% endif %}
            </span>
        </p>
        <!-- initial page -->
        {% if submit == "no" %}
        <form method="POST" action="/datatype">
            <table class="table-style2">
                <tbody>
                    {% for col in vartype %}
                    <tr>
                        <td>
                            <label for={{col[0]}}><b>{{col[0]}}</b></label>
                        </td>
                        <td>
                            <select required name={{col[0]}} id={{col[0]}}>
                                {% if col[1] == "numeric" %}
                                <option value="numeric">Numerical</option>
                                <option value="categorical">Categorical</option>
                                {% elif (col[1] == "categorical") and (col[2]) %}
                                <option value="categorical">Categorical</option>
                                {% else %}
                                <option value="categorical">Categorical</option>
                                <option value="numeric">Numerical</option>
                                {% endif %}
                            </select>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <input type="submit" value="Submit" class="btn btn-success btn-sm">
        </form>
        <!-- form submitted -->
        {% else %}
        <table border="1" class="table-style3">
            <thead>
                <tr>
                    <th>Variable</th>
                    <th>Type</th>
                </tr>
            </thead>
            <tbody>
                {% for col in vartype %}
                <tr>
                    <td>{{col[0]}}</td>
                    <td>
                        {% if col[1] == "numeric" %}
                        Numerical
                        {% else %}
                        Categorical
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <form method="POST" action="/datatype">
            <input type="hidden" name="reset" value="datatype">
            <input type="hidden" name="redirect" value="datatype">
            <input type="submit" value="Reset Variable Type" class="btn btn-danger btn-sm">
        </form>
        {% endif %}
    </div>
</div>
{% endblock %}
