{% extends "BASE.html" %}

{% block content %}
<div>
    <!-- Introduction-->
    <h1 id="page-title">Data Transformation</h1>
    <p>Data transformation is a key step in the process of EDA. It changes the raw data to achieve various goals.</p>
    <ul>
        <li>It can involve mathematical operations that alter the scale or shape of numerical data.</li>
        <li>It handles outliers, anomalies and missing value in data.</li>
        <li>It replaces or combines categorical labels.</li>
    </ul>
    <!-- Table of transformation method -->
    <div>
        <p>The table shows a list of data transformation method available.</p>
        <table border="1" class="dataframe table-style" id="transform-table">
            <thead>
                <tr>
                    <th>Method</th>
                    <th>Description</th>
                    <th>Type</th>
                </tr>
            </thead>
            <tbody>
                {% for formula in allformula %}
                <tr>
                    <td>{{formula[0]}}</td>
                    <td>{{formula[1]}}</td>
                    <td>{{formula[2]}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- Select variable -->
    {% if submit == "no" %}
    <p>Select a variable for data transformation:</p>
    <form method="POST" action="/datatransform">
        <div>
            <label for="selected-var">Variable:</label>
            <select required name="selected-var" id="selected-var">
                {% for var in variables %}
                <option value={{var}}>{{var}}</option>
                {% endfor %}
            </select>
        </div>
        {% if formula %}
        <div>
            <label for="selected-method">Method:</label>
            <select required name="selected-method" id="selected-method">
                {% for method in formula %}
                <option value={{method[0]}}>{{method[0]}}</option>
                {% endfor %}
            </select>
        </div>
        {% endif %}
        <input type="submit" name="submit" value="Submit" class="btn btn-success btn-sm">
    </form>
    {% if formula %}
    <form method="POST" action="/datatransform">
        <input type="hidden" name="redirect" value="datatransform">
        <input type="submit" value="Reset Selection" class="btn btn-danger btn-sm">
    </form>
    {% endif %}
    {% else %}
    <div>
        <p>Selected variable for data transformation:</p>
        <ul class="unstyle-list">
            <li>Variable: <b>{{variables[0]}}</b></li>
            <li>Method: <b>{{formula[0]}}</b></li>
        </ul>
        <form method="POST" action="/datatransformed">
            <input type="hidden" name="selected-var" value={{variables[0]}}>
            <input type="hidden" name="selected-type" value={{vartype}}>
            <input type="hidden" name="selected-method" value={{formula[0]}}>
            <input type="hidden" name="redirect" value="datatransformed">
            <input type="submit" value="Transform" class="btn btn-success btn-sm">
        </form>
        <form method="POST" action="/datatransform">
            <input type="hidden" name="redirect" value="datatransform">
            <input type="submit" value="Reset Selection" class="btn btn-danger btn-sm">
        </form>
    </div>
    {% endif %}
</div>
{% endblock %}