{% extends "BASE.html" %}

{% block navigation %}
{% endblock %}

{% block content %}
<div>
    <!-- Introduction -->
    <h1 id="page-title">Data Exploration Tool</h1>
    <p>Exploratory Data Analysis (<b>EDA</b>) is an approach to analyze and investigate data. It helps to discover
        trends, patterns and abnormalities in the data using statistical summary and visualization methods.</p>
    <p>We have created a simple web tool that helps you in the process of EDA. Let's begin by uploading a CSV data set!
    </p>
    <!-- File upload -->
    <div>
        {% if success == "initial" or success == "no" %}
        <form method="POST" action="/" enctype="multipart/form-data" id="uploadfile">
            <input required type="file" name="uploaded-file" accept=".csv">
            <input type="submit" value="Upload" class="btn btn-success btn-sm">
        </form>
        {% endif %}
    </div>
    <!-- Upload message -->
    <div>
        <!-- initial page -->
        {% if success == "initial" %}
        <p></p>
        <!-- successful upload-->
        {% elif success == "yes" %}
        <div>
            <p class="success">Data file successfully uploaded</p>
            <form method="POST" action="/datatype">
                <input type="hidden" name="redirect" value="datatype">
                <input type="submit" value="Let's Begin" class="btn btn-success btn-sm">
            </form>
        </div>
        <!-- unsuccessful upload -->
        {% else %}
        <div>
            <p class="failure">Data file upload is unsuccessful.</p>
            <p>Please check data structure:</p>
            <ul>
                {% for error in messages %}
                <li>{{error}}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
