{% extends "BASE.html" %}

{% block content %}
<div>
    <!-- Introduction -->
    <h1 id="page-title">Multivariate Visualization</h1>
    <p>The {{plot}} is used to study the relationship between {{variables}}.</p>
    <!-- Control plot size -->
    <form method="POST" action="multivariateplot">
        <input type="hidden" name="xvar" value={{xvar}}>
        <input type="hidden" name="yvar" value={{yvar}}>
        <input type="hidden" name="zvar" value={{zvar}}>
        <input type="hidden" name="plot" value={{plot}}>
        <span>
            <input type="submit" name="changex" value="Expand X axis">
            <input type="submit" name="changex" value="Contract X axis">
        </span>
    </form>
    <!-- Plot area -->
    <div>
        <img src='data:image/png;base64,{{plot_url}}' />
    </div>
</div>
{% endblock %}