{% extends "BASE.html" %}

{% block content %}
<div>
    <!-- Introduction -->
    <h1 id="page-title">Multivariate Visualization</h1>
    <p>The {{plot}} is used to study the relationship between {{variables}}.</p>
    <!-- Control plot size -->
    <form method="POST" action="multivariateplot">
        <input type="hidden" name="xvar" value={{xvar}}>
        <input type="hidden" name="yvar" value={{yvar}}>
        <input type="hidden" name="zvar" value={{zvar}}>
        <input type="hidden" name="plot" value={{plot}}>
        <span>
            <input type="submit" name="changexy" value="Expand X axis">
            <input type="submit" name="changexy" value="Expand Y axis">
            <input type="submit" name="resetsize" value="reset X Y size">
            {%if plot != 'density-plot'%}
            <input type="submit" name="switch" value="switch X Y">
            {%endif%}
            {%if plot == 'count-plot' or plot == 'bar-plot_average' or plot == 'bar-plot_sum'%}
            <input type="submit" name="sort" value="Sort">
            {%endif%}
        </span>
    </form>
    <!-- Plot area -->
    <div>
        <img src='data:image/png;base64,{{plot_url}}' />
    </div>
    <div>
        <form method="POST" action="/selectmultivar">
            <input type="hidden" name="redirect" value="selectmultivar">
            <input type="submit" value="Back">
        </form>
    </div>
</div>
{% endblock %}