{% extends "BASE.html" %}

{% block content %}
<div>
    <!-- Introduction -->
    <h1 id="page-title">Summary Statistics - Numerical Variables</h1>
    <form method="POST" action="/categorical" id="inline-form">
        <input type="hidden" name="redirect" value="categorical">
        <input type="submit" value="Click here to view categorical variables."
            style="color: green; font-size: 18px; text-decoration: underline;">
    </form>
    {% if nvar > 0 %}
    <p>The table of descriptive statistics helps to understand the central tendency and dispersion of each numerical
        variable. The number of missing values are also displayed.</p>
    {% else %}
    <p>There is no numerical variables in the dataset.</p>
    {% endif %}
    <!-- Table of summary statistics -->
    <div>
        {% if nvar > 0 %}
        {{ df|safe }}
        {% endif %}
    </div>
    <br>
    <!-- Exclude numerical variables -->
    {% if nvar > 0 %}
    <div>
        <form method="POST" action="/numeric">
            {% if nvar > 1 %}
            <p>
                If you wish to exclude any numerical variable from the analysis, please select the variable and click
                "Exclude".
            </p>
            <select name="remove-numericvar" id="numericvar">
                <option value="none" selected disabled hidden>Numerical Variable</option>
                {% for col in columns %}
                <option value={{col}}>{{col}}</option>
                {% endfor %}
            </select>
            <input type="submit" name="exclude" value="Exclude">
            <input type="submit" name="reset" value="Revert Exclusions">
            {% else %}
            <input type="submit" name="reset" value="Revert Exclusions">
            {% endif %}
        </form>
    </div>
    {% endif %}
</div>
{% endblock %}