<!DOCTYPE html>
<html lang="en">

<head>
    <title>CS50 Project</title>
    <link rel="stylesheet" href="/static/style.css" />
    <script src="../static/jquery-3.6.0.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>
    <!-- Page content -->
    <div>
        <h1>Summary of Numeric Variables</h1>
        <p>Table of descriptive statistics to understand the central tendency and dispersion of each variable.</p>
        <!-- Navigation -->
        <div>
            <a href="#">Numeric Variables</a>
            <a href="/categorical">Categorical Variables</a>
        </div>
        <!-- description for numeric variables -->
        <table>
            {% for table in df %}
            {{ table|safe }}
            {% endfor %}
        </table>
        <!-- select numeric variables to be excluded -->
        {% if nvar > 1 %}
        <form method="POST" action="/numeric">
            <div>
                <label for="numericvar">Remove numeric variable:</label>
                <select name="remove-numericvar" id="numericvar">
                    <option value="none" selected disabled hidden>Select</option>
                    {% for col in columns %}
                    <option value={{col}}>{{col}}</option>
                    {% endfor %}
                </select>
                <input type="submit" value="Remove">
            </div>
        </form>
        {% endif %}
        <!-- reset button add back all numeric variables -->
        <form method="POST" action="/numeric">
            <div>
                <input name="reset-numericvar" type="submit" value="Reset">
            </div>
        </form>
        <!-- univariate visualisations -->
        <form method="GET" action="/selectvariable">
            <p>Once you have selected all the interested variables, let's start building univariate visualisations!</p>
            <input type="submit" value="Go">
        </form>
    </div>

</body>

</html>