{% extends "BASE.html" %}

{% block content %}
<div>
    <!-- Introduction -->
    <h1 id="page-title">Multivariate Visualization</h1>
    <p>The multivariate visualization explores the relationship between two or more variables.</p>
    <!-- Plot type -->
    {% if submit == "no" %}
    <div>
        <p>The table summarizes different type of visualization and which variable types are suitable to build the
            graphic.</p>
        <table border="1" class="dataframe table-style3">
            <thead>
                <tr>
                    <th>Visualization Type</th>
                    <th>X-variable</th>
                    <th>Y-variable</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                {% for plot in allplots %}
                <tr>
                    <td>{{plot[0]}}</td>
                    <td>{{plot[1].split('-')[0]}}</td>
                    <td>{{plot[1].split('-')[1]}}</td>
                    <td>{{plot[2]}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- Heatmap of correlation -->
    <div>
        <p>In addition to the visualization methods listed in the table, the correlation between all
            numerical variables
            found in the data set can be summarized into a heatmap.
        </p>
        <form method="POST" action="/heatmap" id="corrplot-form">
            <input type="submit" name="redirect" value="Click here to view correlation plot">
        </form>
    </div>
    <!-- Select variables for plotting -->
    <div>
        <p>Select the x-variable and y-variable use to build graphic:</p>
        <form method="POST" action="/selectmultivar">
            {% if xvar %}
            <div>
                <label for="xvar">X variable:</label>
                <select required name="xvar" id="xvar">
                    {% for var in xvar %}
                    <option value={{var}}>{{var}}</option>
                    {% endfor %}
                </select>
                <input type="hidden" name="selectedx" value="yes">
            </div>
            {% endif %}
            {% if yvar %}
            <div>
                <label for="yvar">Y variable:</label>
                <select required name="yvar" id="yvar">
                    {% for var in yvar %}
                    <option value={{var}}>{{var}}</option>
                    {% endfor %}
                </select>
                <input type="hidden" name="selectedy" value="yes">
            </div>
            {% endif %}
            {% if zvar %}
            <div>
                {% if zvar[0] != "noz" %}
                <label for="zvar">Grouping variable:</label>
                <select required name="zvar" id="zvar">
                    {% for var in zvar %}
                    <option value={{var}}>{{var}}</option>
                    {% endfor %}
                </select>
                {% else %}
                <label for="zvar">Grouping variable:</label>
                <select required name="zvar" id="zvar">
                    <option selected value="noz">Not available</option>
                </select>
                {% endif %}
                <input type="hidden" name="selectedz" value="yes">
            </div>
            {% endif %}
            {% if plots %}
            <div>
                {% if plots[0] != "No-plot" %}
                <label for="plot">Visualization Type:</label>
                <select required name="plot" id="plot">
                    {% for plot in plots %}
                    <option value={{plot}}>{{plot}}</option>
                    {% endfor %}
                </select>
                <input type="hidden" name="selectedplot" value="yes">
                {% endif %}
            </div>
            {% endif %}
            {% if plots %}
            {% if plots[0] == "No-plot" %}
            <p class="note">No visualization type suitable for selected variables. Please choose other variables.
            </p>
            {% else %}
            <input type="submit" value="Submit" class="btn btn-success btn-sm">
            {% endif %}
            {% else %}
            <input type="submit" value="Submit" class="btn btn-success btn-sm">
            {% endif %}
        </form>
        {% if yvar %}
        <form method="POST" action="/selectmultivar">
            <input type="hidden" name="redirect" value="selectmultivar">
            <input type="submit" value="Reset Selection" class="btn btn-danger btn-sm">
        </form>
        {% endif %}
    </div>
    {% else %}
    <!-- Selected variables and plot type -->
    <div>
        <p>Selected variables and visualization type:</p>
        <ul class="unstyle-list">
            <li>X variable: <b>{{xvar}}</b></li>
            <li>Y variable: <b>{{yvar}}</b></li>
            {% if (zvar == 'noz') or (zvar == 'No-grouping') %}
            {% else %}
            <li>Grouping variable: <b>{{zvar}}</b></li>
            {% endif %}
            <li>Visualization: <b>{{plot}}</b></li>
        </ul>
        <form method="POST" action="/multivariateplot">
            <input type="hidden" name="xvar" value={{xvar}}>
            <input type="hidden" name="yvar" value={{yvar}}>
            <input type="hidden" name="zvar" value={{zvar}}>
            <input type="hidden" name="plot" value={{plot}}>
            <input type="submit" name="multivariateplot" value="Plot" class="btn btn-success btn-sm">
        </form>
        <form method="POST" action="/selectmultivar">
            <input type="hidden" name="redirect" value="selectmultivar">
            <input type="submit" value="Reset Selection" class="btn btn-danger btn-sm">
        </form>
    </div>
    {% endif %}
</div>
{% endblock %}