<!DOCTYPE html>
<html lang="en">

<head>
    <title>CS50 Project</title>
    <link rel="stylesheet" href="/static/style.css" />
</head>

<body>
    <!-- Page content -->
    <div>
        <h1>Univariate Visualisation</h1>
        <p>Let's look at the graphical representation of each variable.</p>
        <!-- select variable type -->
        {% if selectedtype == None %}
        <form method="POST" action="/selectvariable">
            <div>
                <input type="radio" name="selected-datatype" value="numeric" id="numeric" checked>
                <label for="numeric">Numeric</label>
                <input type="radio" name="selected-datatype" value="categorical" id="categorical">
                <label for="categorical">Categorical</label>
            </div>
            <button type="submit">Select variable type</button>
        </form>
        {% else %}
        <!-- select variable to plot chart -->
        <form method="GET" action="/univariateplot">
            <p>Variable Type: {{selectedtype|capitalize}}</p>
            <div>
                <label for="selected-var">Variable:</label>
                <select required name="selected-var" id="selected-var">
                    {% for var in varoptions %}
                    <option value={{var}}>{{var}}</option>
                    {% endfor %}
                </select>
            </div>
            <input type="submit" value="Submit">
        </form>
        {% endif %}
    </div>
</body>

</html>